<tr>
    <td>
        <div class="input-group" style="width:100%">
            <span class="input-group-btn">
                <button class="schedule-button btn" type="button">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </span>
            <input class="place form-control" type="text" placeholder="장소">
        </div>
    </td>
    <td>
        <input class="price form-control" type="text" value="0" placeholder="가격">
    </td>
    <td>
        <button type="button" class="btn-add btn btn-sm btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn-remove btn btn-sm btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
    </td>
</tr>