<div class="panel panel-default">
    <div class="panel-heading">일정</div>
    <div class="panel-body">
        <table id="scheduleTable">
            <colgroup>
                <col span="1">
                <col span="1">
                <col span="1" style="width:20%">
                <col span="1" style="width:65px">
                <col span="1" style="width:20%">
            </colgroup>
            <thead>
                <th class="bold">기간</th>
                <th class="bold">일정</th>
                <th class="bold">가격</th>
                <th class="bold"></th>
                <th class="bold">계</th>
            </thead>
            <tbody>
                
            </tbody>
            <tfoot>
                <th colspan="4">일정 총 금액</th>
                <td id="scheduleSum"></td>
            </tfoot>
        </table>
    </div>
</div>