<div id="printContractView" class="container-fluid">
    <div class="form-inline no-print" style="width: 700px;margin: auto;">
        <!--<div class="row" style="margin-bottom:5px">-->
        <!--    <div class="col-md-10">-->
        <!--        <div class="form-group">-->
        <!--            <label for="mailTitle">제목</label>-->
        <!--            <input type="text" class="form-control" id="mailTitle">-->
        <!--        </div>-->
        <!--        <div class="form-group" style="margin-left : 20px">-->
        <!--            <label for="email">메일주소</label>-->
        <!--            <input type="email" class="form-control" id="email">-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    <div class="col-md-2">-->
        <!--        <button class="btn-email btn btn-primary btn-block">메일 전송</button>-->
        <!--    </div>-->
            
        <!--</div>-->
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <button class="btn-print btn btn-primary btn-block">프린트</button>
            </div>
        </div>
    </div>
    <div class="content" style="width:770px;margin:auto;font-size:12px;font-family:GulimChe;">
        
    </div>
</div>
