.bootstrap-datetimepicker-widget table td {
    border-bottom : 0 !important;
    border-top : 0 !important;
}

.bootstrap-datetimepicker-widget table tr th {
    border-bottom : 0 !important;
    border-top : 0 !important;
}

/* print common */
@media print
{    
    .no-print, .no-print *
    {
        display: none;
    }
}

/* 테이블 제목 */
.bold {
    font-weight : bold;text-align : center;background-color:#efefef;
}

/* panel table (패널 내부 테이블) */
.panel table td {
    padding:5px; border-bottom : 1px solid #e8e8e8; border-top : 1px solid #e8e8e8;
}
.panel table tr th {
    width:60px; text-align:center; padding:3px; border-bottom : 1px solid #e8e8e8; border-top : 1px solid #e8e8e8;
}
.panel table {
    margin: 5px 0;
    width: 100%;
}

.panel table tr th:first-child {
    width:17%;
    background-color:#efefef;
}

/* airline table (항공편) */
.airline {
    border-bottom : 1px solid #eee
}
.airline th {
    width:60px !important;
}

#print .thumbnail{
    height:90px !important;
    width:135px;
}

/* image view thumbnail (썸네일 이미지) */
.thumbnail {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: hidden;
    margin: 5px 15px;
    float: left;
    text-align: center;
    box-shadow: 3px 3px 3px #eee;
    cursor : pointer;
}
.thumbnail img {
    cursor : pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

/* schedule table (일정 테이블)*/
table.scheduleDayTable {
    margin : 0;
    padding : 0;
}

table.scheduleDayTable td {
    border : 0px;
}

.select2-container .select2-selection--single {
    height:34px;
}


