.bootstrap-datetimepicker-widget table td {
    border-bottom : 0 !important;
    border-top : 0 !important;
}

.bootstrap-datetimepicker-widget table tr th {
    border-bottom : 0 !important;
    border-top : 0 !important;
}

/* print common */
@media print
{    
    .no-print, .no-print *
    {
        visibility: hidden;
    }
}

#print table > thead > tr > th,
#print table > tbody > tr > th,
#print table > tfoot > tr > th,
#print table > thead > tr > td,
#print table > tbody > tr > td,
#print table > tfoot > tr > td {
   border: 1px solid #000000 !important;
   padding: 4px;
   text-align: center;
}

#print table {
    margin-bottom : 0;
}

#print {
    -webkit-print-color-adjust:exact;
    font-size: 12px;
    font-family: GulimChe;
    font-weight: bold;
}

/* print-package*/
#print .cover {
    width: 100%;
    height: 1147px;
    position: relative;
}

#print .cover img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

#print .cover .info{
    position: absolute;
    top: 500px;
    left:  150px;
    font-size: 25px;
    text-align: center;
}


#print .logo-tour-info {
    width: 100%;
    height: 123px;
    background-image: url(/img/logo-tour-info.png);
    background-repeat:no-repeat;
}

#print .guest-name {
    margin-left: 90px;
}

#print .schedule {
    text-align: left;
}

#print .print-package .title-td  {
    background-color: #eeeeee !important;
}

#print .print-package .title-td.food {
    width: 120px;
}

#print .print-package .inclusion  {
    text-align: left;
}

#print .print-package .exclusion  {
    text-align: left;
}

#print .print-package .specialty  {
    text-align: left;
}


#print .print-package .days  {
     margin-top: 50%;
}

#print .print-package .area  {
    width: 80px;
    position: relative;
}

#print .print-package .traffic-aday  {
    width: 80px;
    position: relative;
}

#print .print-package .traffic  {
    width: 80px;
    vertical-align: bottom;
}
#print .print-package .total-tour-expenses  {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

#print .print-package .time-aday  {
    width: 90px;
    position:relative;
}

#print .print-package .time  {
    width: 90px;
    vertical-align: bottom;
}

#print .print-package .schedule{
    width: 333px;
}

#print .print-package .schedule .item{
    display: inline-block;
    min-height: 18px;
    width: 100%;
}

#print .print-package .schedule .item .title  {
    float: left;
}

#print .print-package .schedule .item .explain  {
    display: none;
}


#print .meal {
    text-align: left;
}

#print .schedule-table .title td {
    width: 90px;
}

#print .schedule-table td.meal div {
    height: auto;
}

#print .schedule-table td > div {
    height:18px;
}


/* 테이블 제목 */
.bold {
    font-weight : bold;text-align : center;background-color:#efefef;
}

/* panel table (패널 내부 테이블) */
.panel table td {
    padding:5px; border-bottom : 1px solid #e8e8e8; border-top : 1px solid #e8e8e8;
}
.panel table tr th {
    width:60px; text-align:center; padding:3px; border-bottom : 1px solid #e8e8e8; border-top : 1px solid #e8e8e8;
}
.panel table {
    margin: 5px 0;
    width: 100%;
}

.panel table tr th:first-child {
    width:17%;
    background-color:#efefef;
}

/* airline table (항공편) */
.airline {
    border-bottom : 1px solid #eee
}
.airline th {
    width:60px !important;
}

/* image view thumbnail (썸네일 이미지) */
.thumbnail {
    position: relative;
    width: calc(25% - 30px);
    height: 80px;
    overflow: hidden;
    margin: 5px 15px;
    float: left;
    text-align: center;
    padding: 25px;
    box-shadow: 3px 3px 3px #eee;
    cursor : pointer;
}
.thumbnail img {
    cursor : pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

/* schedule table (일정 테이블)*/
table.scheduleDayTable {
    margin : 0;
    padding : 0;
}

table.scheduleDayTable td {
    border : 0px;
}

.select2-container .select2-selection--single {
    height:34px;
}


