<div class="sub-view">
    <div>
        <form class="code-form">
            <label for="category">카테고리 선택 : </label>
            <select id="category">
                <option value="food" selected="selected">음식</option>
                <option value="hotel">숙소</option>
                <option value="schedule">일정</option>
            </select>    
            <button id="save" style="float: right;" type="button">저장</button>
        </form>
        <div class="code-table-container">
            <table id="food" class="table table-bordered" style="display:none;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Explain</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="hotel" class="table table-bordered" style="display:none;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="schedule" class="table table-bordered" style="display:none;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Explain</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div> 
    </div>
</div>