<div class="sub-view">
    <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">
            <form>
                <label for="category">카테고리 선택 : </label>
                <!--div class="select-box"-->
                    <select id="category">
                        <option value="">-</option>
                        <option value="Foods">음식</option>
                        <option value="Hotels">숙소</option>
                        <option value="Schedules">일정</option>
                    </select>    
                <!--/div-->    
                
            </form>
            <div class="table-container">
                <!--div class="food-table" style="display:none;"-->
                    <table id="foodTable" class="code-table" style="display:none;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Explain</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                <!--/div-->
            </div> 
            
        </div>
    </div>
    
    
    
    <!--button id="btn">click button</button-->
</div>
