<tr>
    <td name="name" contenteditable='true'></td>
    <td name="phone" contenteditable='true'></td>
    <td name="explain" contenteditable='true'></td>
    <td>
        <button type='button' class='btn-add btn btn-default' aria-label='Left Align'>
            <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
        </button>
        <button type='button' class='btn-remove btn btn-default' aria-label='Left Align'>
            <span class='glyphicon glyphicon-minus' aria-hidden='true'></span>
        </button>
    </td>    
</tr>
    
