<tr>
    <td class="code-td" style="width: 350px;">
        <input class="data" data-type="input" type="text"/>
    </td>
    <td class="code-td" style="width: 200px;">
        <input class="data" data-type="input" type="text"/>
    </td>
    <td class="code-td">
        <input class="data" data-type="input" type="text"/>
    </td>
    <td class="code-td" style="width: 200px;">
        <button type="button" class="btn-add btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn-remove btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
    </td>    
</tr>
    
