<tr>
    <td contenteditable="true" class="code-td"></td>
    <td contenteditable="true" class="code-td"></td>
    <td contenteditable="true" class="code-td"></td>
    <td class="code-td">
        <button type="button" class="btn-add btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn-remove btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
    </td>    
</tr>
    
