<div class="panel panel-default">
    <div class="panel-heading">일정</div>
    <div class="panel-body">
        <table class="schedule-table table table-bordered">
            <thead>
                <th class="day">기간</th>
                <th class="schedule">일정</th>
                <th class="total">계</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="total-table table table-bordered">
            <thead>
                <th>계</th>
                <th><label class="total-schedule-price">0</label></th>
            </thead>
        </table>
    </div>
</div>