<div>
    <button id="btn-print">프린트</button>
    
    <div class="content">
        <div id="print" style="width: 790px; margin: auto;">
            <div class="cover">
                <img src="/img/cover.png">
                <table class="info">
                    <tr>
                        <td>
                            상품명: 
                        </td>
                        <td style="width: 400px" class="tour-name">
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            여행일: 
                        </td>
                        <td class="travel-start-date">
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            기획자: 
                        </td>
                        <td class="planner">
                            
                        </td>
                    </tr>
                </table>
            </div>
            <div class="customer-info">
                <img src="/img/logo-tour-info.png" style="display: none;">
                <h3 class="customer-name"></h3>
                <table class="print-tour table table-bordered">
                    <tbody>
                        <tr>
                            <td style="width: 90px;">
                                항 공 사
                            </td>
                            <td colspan="2" class="airline">
                            </td>
                            <td>
                                여행일
                            </td>
                            <td colspan="7" class="travel-date">
                            </td>
                        </tr>
        
                        <tr>
                            <td>
                                성 인 요 금
                            </td>
                            <td colspan="2" class="adult-charge">
                            </td>
                            <td>
                                인원
                            </td>
                            <td class="adult-member">
                            </td>
                            <td colspan="2" class="total-adult-charge">
                            </td>
                            <td colspan="4">
                                여행 총 경비
                            </td>
                        </tr>
        
                        <tr>
                            <td>
                                아 동 요 금
                            </td>
                            <td colspan="2" class="child-charge">
                            </td>
                            <td>
                                인원
                            </td>
                            <td class="child-member">
                            </td>
                            <td colspan="2" class="total-child-charge">
                            </td>
                            <td colspan="4" rowspan="2" class="total-tour-expenses">
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                기타추가금액
                            </td>
                            <td colspan="2" class="extra-charge">
                            </td>
                            <td colspan="4" class="extra-charge-info">
                            </td>
                        </tr>
        
                        <tr>
                            <td>
                                포함사항
                            </td>
                            <td colspan="10" class="inclusion">
                                
                            </td>
                        </tr>
        
                        <tr>
                            <td>
                                불포함사항
                            </td>
                            <td colspan="10" class="exclusion">
                                
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                특별사항
                            </td>
                            <td colspan="10" class="specialty">
                            </td>
                        </tr>
        
                        <tr>
                            <td>
                                차 량
                            </td>
                            <td colspan="2">
                                <label class="carMember"></label> 인승
                            </td>
                            <td colspan="2">
                                담당 기사
                            </td>
                            <td colspan="6">
                                <label class="driver"></label>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                기획자
                            </td>
                            <td colspan="2" class="planner">
                            </td>
                            <td colspan="8" class="plannerInfo">
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                일자
                            </td>
                            <td>
                                지역
                            </td>
                            <td>
                                교통편
                            </td>
                            <td>
                               시간
                            </td>
                            <td colspan="5">
                                상세 일정
                            </td>
                            <td colspan="2">
                                식사
                            </td>
                        </tr>
                        
                        <tr>
                            <td rowspan="2" >
                                <label>01월 17일</label>
                            </td>
                            <td class="area">
                                가나다라마
                            </td>
                            <td class="traffic">
                                가나다라마
                            </td>
                            <td class="time">
                               <label class="start-msg">출발1시간전</label></br>
                               <label class="start-time">8:20</label></br>
                               <label class="arrive-time">10:20</label></br>
                            </td>
                            <td colspan="5" class="schedule">
                                <label class="start-msg">김포공항 도작 및 수속(신분증 필수 지참)</label></br>
                                <label class="start-time">김포공항 출발</label></br>
                                <label class="arrive-time">제주공항 도착</label>
                                

                                <div class="item">
                                    <div class="title">
                                        가나다라마14
                                    </div>
                                    <div class="explain">
                                        한라산 원시림을 달리는 숲속 기차 여행 신난다라하하하하
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="title">
                                        가나다라마
                                    </div>
                                    <div class="explain">
                                        한라산 원시림을 달리는 숲속 기차 여행 신난다라하하하하
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="title">
                                        가나다라마
                                    </div>
                                    <div class="explain">
                                        한라산 원시림을 달리는 숲속 기차 여행 신난다라하하하하
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="title">
                                    </div>
                                    <div class="explain">
                                    </div>
                                </div>
                                
                                <label>숙소로 이동 및 자유시간</label>
                            </td>
                            <td colspan="2" class="meal">
                                조: 테스트
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="7" style="text-align: left">
                                숙소 : <label class="hotel">에코그린 리조트</label>
                            </td>
                            <td colspan="3">
                                TEL : 0000-0000-0000
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="11" style="text-align: left;">
                                * 가나다라마바사 /가나다라마바사
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                * 계약금
                            </td>
                            <td colspan="3">
                                100,000
                            </td>
                            <td>
                                잔금
                            </td>
                            <td colspan="3">
                                100,000,000
                            </td>
                            <td>
                                납기일
                            </td>
                            <td colspan="3">
                                2015년 1월 22일
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11" style="text-align: left;">
                            * 계약금은 예약일로 3일 이내입금하셔야 하며, 미입금시 예약은 통보없이 취소될수 있습니다.</br>
                            * 최소약관: 항공권 수수료 - 환불불가, 출발 7일전 -10%,  전일 -50%, 당일 -80%</br>
                            * 고객님의 요청으로 일정이 별결 될 경우 변경 수수료가 발생 할 수 있습니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
