<div id="meal" class="panel panel-default">
    <div class="panel-heading">식사</div>
    <div class="panel-body">
        <table id="mealTable">
            <thead>
                <th class="bold">기간</th>
                <th class="bold">조식</th>
                <th class="bold">중식</th>
                <th class="bold">석식</th>
                <th class="bold" style="width:20%">계</th>
            </thead>
            <tbody>
                
            </tbody>
            <tfoot>
                <th colspan="4">식사 총 금액</th>
                <td id="mealSum"></td>
            </tfoot>
        </table>
    </div>
</div>