<tr class="meal">
    <td class="bold">
        <%=day%>일차<br/>
        <span class="date"></span>
    </td> 
    <td>
        <input class="name form-control" placeholder="식사" type="text">
        <input class="price form-control" type="text" placeholder="가격" value="0">
    </td>
    <td>
        <input class="name form-control" placeholder="식사" type="text">
        <input class="price form-control" type="text" placeholder="가격" value="0">
    </td>
    <td>
        <input class="name form-control" placeholder="식사" type="text">
        <input class="price form-control" type="text" placeholder="가격" value="0">
    </td>
    <td class="total"></td>
</tr>