<div id="printFree" class="print-tour" style="width: 790px; margin: auto; ">
    <div class="customer-info">
        <img src="/img/logo-tour-info.jpg" style="width: 790px;">
        <h3 class="customer-name"><%=freeInfo.baseInfo.customerName%></h3>
        
        <div class="baseInfo">
            <div style="float: left;width: 55%;">
                <h4><span class="title label label-default">1. 항공부분</span></h4>
                <table class="table table-bordered" style="">
                    <tbody>
                        <tr>
                            <td class="title-td">항공사</td>
                            <td><%=freeInfo.baseInfo.airline%> (<%=freeInfo.baseInfo.flightNumber%>)</td>
                        </tr>
                        <tr>
                            <td class="title-td">출발 일시</td>
                            <td><%=freeInfo.baseInfo.travelStartDate%> <%=freeInfo.baseInfo.depTime%></td>
                        </tr>
                        <tr>
                            <td class="title-td">리턴 일시</td>
                            <td><%=freeInfo.baseInfo.travelEndDate%> <%=freeInfo.baseInfo.returnDepTime%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div style="float: left; border: 3px dashed;margin-left: 53px;width: 300px;padding-left: 10px;" >
                <h4 style="margin-left: 45px;font-weight: 700;">*공항도착 안내사항*</h4>
                <p>1. 출발 한 시간전 공항 도착</p>
                <p>2. 신분증 지참하기</p>
                <p>3. 아동은 의료보험 또는 주민등록 등본 지참</p>
            </div>
            
            <div style="width: 100%; margin-top: 10px; display: inline-block;">
                <table class="table table-bordered" style="">
                    <tbody>
                        <tr>
                            <td class="title-td">성인 항공 요금</td>
                            <td style="width: 150px"><%=freeInfo.baseInfo.airOneAdult%></td>
                            <td style="width: 70px;">인원</td>
                            <td style="width: 70px;" class="title-td"><%=freeInfo.baseInfo.adultMember%> 명</td>
                            <td class="title-td">성인 총 요금</td>
                            <td><%=freeInfo.baseInfo.totalAirAdultCharge%></td>
                        </tr>
                        <tr>
                            <td>아동 항공 요금</td>
                            <td><%=freeInfo.baseInfo.airOneChild%></td>
                            <td>인원</td>
                            <td><%=freeInfo.baseInfo.childMember%> 명</td>
                            <td>아동 총 요금</td>
                            <td><%=freeInfo.baseInfo.totalAirChildCharge%></td>
                        </tr>
                        <tr>
                            <td colspan="5">항공권 총 요금</td>
                            <td><%=freeInfo.expenseInfo.totalAirCharge%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="accInfo" style="width: 100%; margin-top: 10px; display: inline-block;">
            <h4><span class="title label label-default">2. 숙소부분</span></h4>
            <table class="table table-bordered" style="">
                <tbody>
                    <% _.each(freeInfo.accInfos, function(accInfo) { %>
                    <tr>
                        <td class="title-td">숙소 명</td>
                        <td style="width: 290px;"><%=accInfo.name%></td>
                        <td class="title-td">연락처</td>
                        <td ><%=accInfo.phone%></td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td class="title-td" colspan="3">총 숙소비용</td>
                        <td ><%=freeInfo.expenseInfo.totalRoomCharge%></td>
                    </tr>                    
                </tbody>
            </table>
        </div>
        
        <div class="rentCarInfo" style="width: 100%; margin-top: 10px; display: inline-block;">
            <h4><span class="title label label-default">3. 렌터카</span></h4>
            <table class="table table-bordered" style="">
                <tbody>
                    <tr>
                        <td class="title-td">이 름</td>
                        <td><%=freeInfo.rentCarInfo.rentCarName%></td>
                        <td class="title-td">번 호</td>
                        <td><%=freeInfo.rentCarInfo.rentCarPhone%></td>
                    </tr>
                    <tr>
                        <td class="title-td">위치</td>
                        <td colspan="3" style="text-align: left;">
                            <%=freeInfo.rentCarInfo.rentCarLocation%>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-td">차 종</td>
                        <td ><%=freeInfo.rentCarInfo.rentCarType%></td>
                        <td class="title-td">차량 요금</td>
                        <td ><%=freeInfo.rentCarInfo.rentCarCharge%></td>
                    </tr>
                    <tr>
                        <td class="title-td">사용 시간</td>
                        <td ><%=freeInfo.rentCarInfo.rentCarUsingTime%></td>
                        <td class="title-td">자차 보험</td>
                        <td ><%=freeInfo.rentCarInfo.rentCarInsu%></td>
                    </tr>
                    <tr>
                        <td class="title-td" colspan="3">차량 총 요금</td>
                        <td ><%=freeInfo.expenseInfo.totalRentCarCharge%></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="busInfo" style="width: 100%; margin-top: 10px; display: inline-block;">
            <h4><span class="title label label-default">4. 차량 대절</span></h4>
            <table class="table table-bordered" style="">
                <tbody>
                    <tr>
                        <td class="title-td">인승</td>
                        <td style="width: 273px;"><%=freeInfo.busInfo.busMember%> 명</td>
                        <td class="title-td">차량 요금</td>
                        <td><%=freeInfo.busInfo.busRentCharge%></td>
                    </tr>
                    <tr>
                        <td class="title-td">비고</td>
                        <td colspan="3" style="text-align: left;">
                            * 차종이 택시일 경우 기사님 식사는 제공하여 주시기 바랍니다.</br>
                            * 승합 차량 이상일 경우 유류대 및 팁은 포함입니다.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="expenseInfo" style="width: 100%; margin-top: 10px; display: inline-block;">
            <h4><span class="title label label-default">5. 총 경비</span></h4>

            <div style="border: 3px solid; width: 100%;" >
                <div style="float: left;margin-top: 12px;margin-left: 60px; font-size: 17px;">
                    <label>1. 항공 + 2. 숙소 + 3. 렌터카 + 4. 차량 대절 = </label> 
                </div>
                
                <label class="total-charge" style="font-size: 34px; font-weight: bold;margin-left: 60px;"><%=freeInfo.expenseInfo.totalCharge%></label>
            </div>
            
            <p style="margin-top: 10px"><%=adminInfo.packagePrintMsg%></p>
        </div>
        
    </div>
</div>
