<div id="printNotice" class="print-tour" style="width: 790px; margin: auto;">
    <img src="/img/logo-tour-info.png" style="margin-left: 35px;">
    
    <div style="width: 700px; margin: auto;">
        
        <h1 style="text-align: center; font-weight: bold;margin-top: 30px;">여행 준비물 및 안내사항입니다.</h1>
        
        <div style="margin-top: 30px;">
            <p>1. <%=baseInfo.airline %> 도착은 항공출발시간 1시간전에 도착하셔야합니다.</p>
            <ul>
                <li>신분증 지참 :  주민등록증, 여권등, - 두가지가 없을경우 주민등록등본 또는 의료보험증지참</li>
                <li>신분증이 없는 아동의 경우 주민등록등본 또는 의료보험증 지참하여주시기 바랍니다.</li>
            </ul>
        </div>

        <div style="margin-top: 30px;">
            <p>2. 렌터카는 출발일 하루전날 전화드립니다. 받지 못한경우 꼭 대리점으로 연락주셔야합니다.</p>
                <table class="table table-bordered" style="">
                    <tbody>
                        <tr>
                            <td class="title-td">전화 번호</td>
                            <td><%=rentCarInfo.rentCarPhone%></td>
                            <td class="title-td" rowspan="2" style="vertical-align: middle;">위치</td>
                            <td rowspan="2" style="text-align: left;"><%=rentCarInfo.rentCarLocation%></td>
                        </tr>
                        <tr>
                            <td class="title-td">업체 명</td>
                            <td><%=rentCarInfo.rentCarName%></td>
                        </tr>
                    </tbody>
                </table>
                <p>* 자차보험은 불포함이며, 렌트카업체에서 설명들으시고~결정하세요</p>
        </div>
        
        <div style="margin-top: 30px;">
            <p>3. 숙소의 위치 및 전화번호 안내입니다.</p>
                <table class="table table-bordered" style="">
                    <tbody>
                        <% _.each(accInfos, function(accInfo) { %>
                        <tr>
                            <td style="width: 70px;">숙소명</td>
                            <td style="width: 150px;"><%=accInfo.name%></td>
                            <td style="width: 70px;">연락처</td>
                            <td style="width: 100px;"><%=accInfo.phone%></td>
                            <td style="width: 70px;">주소</td>
                            <td><%=accInfo.address%></td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
        </div>
    </div>    
    
</div>
