<div id="printView" class="container-fluid">
    <div class="sub-view">
        <div class="form-inline no-print" style="width: 700px;margin: auto;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="col-md-3"><button class="btn-email btn btn-primary btn-block">메일 전송</button></div>
                <div class="col-md-3"><button class="btn-print btn btn-primary btn-block">프린트</button></div>
            </div>
        </div>
        <div class="content">
        </div>
    </div>
</div>
