<tr>
    <% if(urls.length > 0 ) { %>
    <td style="border: 1px solid #000000 !important;padding: 4px;text-align: center;" rowspan="3">
    <% } else {%>
    <td style="border: 1px solid #000000 !important;padding: 4px;text-align: center;" rowspan="2">
    <% } %>
        <%=index%> 일차<br>
        <%= date %>
    </td>
    <td style="border: 1px solid #000000 !important;padding: 4px;text-align: center;" class="area">
        <% 
            for(var i=0; i<schedules.length; i++){
                var scInfo = schedules[i];
        %>
                <div style="height:18px"><%=scInfo.place%></div>
        <%
            }
        %>
    </td>
    <td style="border: 1px solid #000000 !important;padding: 4px;text-align: center;" class="traffic" style="vertical-align: top;">
        <% 
            for(var i=0; i<schedules.length; i++){
                var scInfo = schedules[i];
        %>
                <div style="height:18px"><%=scInfo.transportation%></div>
        <%
            }
        %>
    </td>
    <td style="border: 1px solid #000000 !important;padding: 4px;text-align: center;" class="time" style="vertical-align: top;">
        <% 
            for(var i=0; i<schedules.length; i++){
                var scInfo = schedules[i];
        %>
                <div style="height:18px"><%=scInfo.time%></div>
        <%
            }
        %>

    </td>
    <td style="border: 1px solid #000000 !important;padding: 4px;text-align: left;" colspan="2" class="schedule" style="text-align: left; position:relative;">
        <% 
            for(var i=0; i<schedules.length; i++){
                var scInfo = schedules[i];
        %>
                <div style="height:18px"><%=scInfo.summary%></div>
        <%
            }
        %>
    </td>
    <td style="border: 1px solid #000000 !important;padding: 4px;text-align: left;" class="meal" style="text-align: left;">
        <% 
            for(var i=0; i<meals.length; i++){
        %>
                <div style="height:18px"><%=meals[i]%></div>
        <%
            }
        %>
    </td>
</tr>
<tr>
    <td style="border: 1px solid #000000 !important;padding: 4px;text-align: left;" colspan="4" style="text-align: left">
        숙소 : <%=hotel.name%>
    </td>
    <td style="border: 1px solid #000000 !important;padding: 4px;text-align: left;" colspan="2">
        <%=hotel.phone%>
    </td>
</tr>

<% if(urls.length > 0 ) { %>
    <tr>
        <td colspan="8" style="border: 1px solid #000000 !important;padding: 4px;text-align: left;">
            <% for(var i=0; i<urls.length; i++){ 
                var url = urls[i];
            %>
                <div style="height:90px !important;width:135px;" class="thumbnail img"><img src="<%= host %>/image/thumbnail/<%= url %>" width="135" height="90"/></div>
            <% } %>            
        </td>
    </tr>
<% } %>
