<tr>
    <td rowspan="2">
        <%=index%> 일차<br>
        <%= date %>
    </td>
    <td class="area">
        <% 
            for(var i=0; i<schedules.length; i++){
                var scInfo = schedules[i];
        %>
                <div><%=scInfo.place%></div>
        <%
            }
        %>
    </td>
    <td class="traffic" style="vertical-align: top;">
        <% 
            for(var i=0; i<schedules.length; i++){
                var scInfo = schedules[i];
        %>
                <div><%=scInfo.transportation%></div>
        <%
            }
        %>
    </td>
    <td class="time" style="vertical-align: top;">
        <% 
            for(var i=0; i<schedules.length; i++){
                var scInfo = schedules[i];
        %>
                <div><%=scInfo.time%></div>
        <%
            }
        %>

    </td>
    <td colspan="2" class="schedule" style="text-align: left; position:relative;">
        <% 
            for(var i=0; i<schedules.length; i++){
                var scInfo = schedules[i];
        %>
                <div><%=scInfo.summary%></div>
        <%
            }
        %>
    </td>
    <td class="meal" style="text-align: left;">
        <% 
            for(var i=0; i<meals.length; i++){
        %>
                <div><%=meals[i]%></div>
        <%
            }
        %>
    </td>
</tr>
<tr>
    <td colspan="4" style="text-align: left">
        숙소 : <%=hotel.name%>
    </td>
    <td colspan="2">
        <%=hotel.phone%>
    </td>
</tr>