<div id="print" class="print-tour" style="width: 790px; margin: auto;">
    <div class="cover">
        <img src="/img/cover.png">
        <table class="info">
            <tr>
                <td>
                    상품명: 
                </td>
                <td style="width: 400px" class="tour-name">
                    <%=tourName%>
                </td>
            </tr>
            
            <tr>
                <td>
                    여행일: 
                </td>
                <td class="travel-start-date">
                    <%=travelStartDate%>
                </td>
            </tr>
            
            <tr>
                <td>
                    기획자: 
                </td>
                <td class="planner">
                    <%=planner%>
                </td>
            </tr>
        </table>
    </div>
    <div class="customer-info">
        <img src="/img/logo-tour-info.png">
        <h3 class="customer-name"> <%=customerName%></h3>
        <table class="print-package table table-bordered">
            <tbody>
                <tr>
                    <td style="width: 90px;" class="title-td">
                        항 공 사
                    </td>
                    <td class="airline" style="width: 160px;">
                        <%=airline%>
                    </td>
                    <td class="title-td" style="width: 90px;">
                        여행일
                    </td>
                    <td colspan="3" class="travel-date" style="width: 449px;">
                        <%=travelDate%>
                    </td>
                </tr>

                <tr>
                    <td class="title-td">
                        성 인 요 금
                    </td>
                    <td class="adult-charge">
                        <%=adultCharge%>
                    </td>
                    <td class="title-td">
                        인원
                    </td>
                    <td class="adult-member">
                        <%=adultMember%>
                    </td>
                    <td class="total-adult-charge">
                        <%=totalAdultCharge%>
                    </td>
                    <td  class="title-td">
                        여행 총 경비
                    </td>
                </tr>

                <tr>
                    <td class="title-td">
                        아 동 요 금
                    </td>
                    <td class="child-charge">
                        <%=childCharge%>
                    </td>
                    <td class="title-td">
                        인원
                    </td>
                    <td class="child-member" style="width: 78px;">
                        <%=childMember%>
                    </td>
                    <td class="total-child-charge" style="width: 148px;">
                        <%=totalChildCharge%>
                    </td>
                    <td rowspan="2" class="total-tour-expenses">
                        <%=totalTourExpenses%>
                    </td>
                </tr>
                
                <tr>
                    <td class="title-td">
                        기타추가금액
                    </td>
                    <td class="extra-charge">
                        <%=extraCharge%>
                    </td>
                    <td class="extra-charge-info" colspan="3">
                        <%=extraChargeInfo%>
                    </td>
                </tr>

                <tr>
                    <td class="title-td">
                        포함사항
                    </td>
                    <td colspan="5" class="inclusion">
                        <%=inclusion%>
                    </td>
                </tr>

                <tr>
                    <td class="title-td">
                        불포함사항
                    </td>
                    <td colspan="5" class="exclusion">
                        <%=exclusion%>
                    </td>
                </tr>
                
                <tr>
                    <td class="title-td">
                        특별사항
                    </td>
                    <td colspan="5" class="specialty">
                        <%=specialty%>
                    </td>
                </tr>

                <tr>
                    <td class="title-td">
                        차 량
                    </td>
                    <td>
                        <%=carMember%> 인승
                    </td>
                    <td colspan="2" class="title-td">
                        담당 기사
                    </td>
                    <td colspan="2">
                        <%=driver%>
                    </td>
                </tr>
                
                <tr>
                    <td class="title-td">
                        기획자
                    </td>
                    <td class="planner">
                        <%=planner%>
                    </td>
                    <td colspan="4" class="plannerInfo">
                        <%=plannerInfo%>
                    </td>
                </tr>
			</tbody>
		</table>

        <!--스케줄 -->
		<table class="print-package schedule-table table table-bordered">
			<tbody style="border-top-style: hidden;">
				<tr class="title">
					<td class="title-td">일자</td>
					<td class="title-td" style="width: 80px;">지역</td>
					<td class="title-td" style="width: 80px;">교통편</td>
					<td class="title-td">시간</td>
					<td class="title-td" style="width: 323px;" colspan="2">상세 일정</td>
					<td class="title-td">식사</td>
				</tr>

                
                <!--<tr>-->
                <!--    <td class="title-td">-->
                <!--        일자-->
                <!--    </td>-->
                <!--    <td class="title-td">-->
                <!--        지역-->
                <!--    </td>-->
                <!--    <td class="title-td">-->
                <!--        교통편-->
                <!--    </td>-->
                <!--    <td class="title-td">-->
                <!--       시간-->
                <!--    </td>-->
                <!--    <td colspan="5" class="title-td">-->
                <!--        상세 일정-->
                <!--    </td>-->
                <!--    <td colspan="2" class="title-td">-->
                <!--        식사-->
                <!--    </td>-->
                <!--</tr>-->
                
                <% 
                    if(scInfos.length == 1) { 
                        var scInfo = scInfos[0];
                %>
                <tr>
                    <td rowspan="2" class="title-td">
                        <%=scInfo.date %>
                        <label class="days"> 1 일차</label>
                    </td>
                    <td class="area">
                        <div>
                        <%=scInfo.area %>
                        </div>
                        
                        <div style="bottom: 0px; position: absolute;">
                            <%=scInfo.returnArea %><br><br><br>
                        </div>                        
                    </td>
                    <td class="traffic-aday">
                        <div>
                        <%=scInfo.airline %> </br>
                        (<%=scInfo.flightNumber %>)
                        </div>
                        
                        <div style="bottom: 0px; position: absolute;">
                        <%=scInfo.returnAirline %> </br>
                        (<%=scInfo.returnFlightNumber %>)
                        </div>
                    </td>
                    <td class="time-aday">
                        <div>
                            <label class="dep-msg">출발1시간전</label></br>
                            <label class="dep-time"> <%=scInfo.depTime%> </label></br>
                            <label class="arrive-time"><%=scInfo.arrTime%></label></br>
                       </div>
                       
                       <div style="bottom: 0px; left: 10px; position: absolute;">
                           <label class="return-dep-msg">출발1시간전</label></br>
                           <label class="return-start-time"> <%=scInfo.returnDepTime%> </label></br>
                           <label class="return-arrive-time"><%=scInfo.returnArrTime%></label></br>                       
                        </div>
                    </td>
                    <td colspan="2" class="schedule" style="text-align: left;">
                        <label class="start-msg"><%=scInfo.area %>공항 도작 및 수속(신분증 필수 지참)</label></br>
                        <label class="start-sc"><%=scInfo.area %>공항 출발</label></br>
                        <label class="arrive-sc"><%=scInfo.returnArea %>공항 도착</label>
                        <%
                            var schedules = scInfo.schedules;
                            _.each(schedules, function(schedule) { %>
                        <div class="item">
                            <div class="title">
                                <%=schedule.name %>
                            </div>
                            <div class="explain">
                                <%=schedule.explain %>
                            </div>
                        </div>
                        <% }) 
                        
                        for (var i = 0, len = scInfo.emptySchedules;  i < len; i++) { %>
                        <div class="item">
                            <div class="title">
                            </div>
                            <div class="explain">
                            </div>
                        </div>
                        <%}%>
                        
                        <label class="start-msg">제주 공항 도작 및 수속(신분증 필수 지참)</label></br>
                        <label class="start-sc"><%=scInfo.returnArea %> 공항 출발</label></br>
                        <label class="arrive-sc"><%=scInfo.area %> 공항 도착</label>
                    </td>
                    <td class="meal" style="text-align: left;">
                        <% var meal = scInfo.meal; %>
                        조 : <%=meal.breakfast.name%></br>
                        중 : <%=meal.lunch.name%></br>
                        식 : <%=meal.dinner.name%></br>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: left">
                        숙소 : <label class="hotel"><%=scInfo.accInfo.name%></label>
                    </td>
                    <td colspan="2">
                        TEL : <%=scInfo.accInfo.phone%>
                    </td>
                </tr>                
                
                <%} else {
                    var scLen = scInfos.length;
                    _.each(scInfos, function(scInfo, idx) { %>
                <tr>
                    <td rowspan="2" class="title-td">
                        <%=scInfo.date %>
                        <label class="days"> <%=idx+1%> 일차</label>
                    </td>
                    <td class="area">
                        <% if (idx == 0 ) {%>
                            <%=scInfo.area %>
                        <%} %>
                        <% if (idx == (scLen-1) ) {%>
                        <div style="bottom: 0px; position: absolute;">
                            <%=scInfo.area %><br><br><br>
                        </div>
                        <%} %>
                    </td>
                    <td class="traffic" <% if (idx == 0 ) {%> style="vertical-align: top;"  <%} %> >
                        <% if (idx == 0 || idx == (scLen-1) ) {%>
                        
                            <label><%=scInfo.airline %></label><br>
                            <label>(<%=scInfo.flightNumber %>)</label>
                        
                        <%} %>
                    </td>
                    <td class="time" <% if (idx == 0 ) {%> style="vertical-align: top;"  <%} %> >
                        <% if (idx == 0 || idx == (scLen-1) ) {%>
                            <label class="dep-msg">출발1시간전</label></br>
                            <label class="dep-time"> <%=scInfo.depTime%> </label></br>
                            <label class="arrive-time"><%=scInfo.arrTime%></label></br>
                       <%} %>
                    </td>
                    <td colspan="2" class="schedule" style="text-align: left; position:relative;">
                        <div>
                        <% if (idx == 0) {%>
                            <label class="start-msg">김포공항 도작 및 수속(신분증 필수 지참)</label></br>
                            <label class="start-sc">김포공항 출발</label></br>
                            <label class="arrive-sc">제주공항 도착</label>
                        <%} %>
                        </div>
                        
                        <%
                            var schedules = scInfo.schedules;
                            _.each(schedules, function(schedule) { %>
                        <div class="item">
                            <div class="title">
                                <%=schedule.name %>
                            </div>
                            <div class="explain">
                                <%=schedule.explain %>
                            </div>
                        </div>
                        <% }) 
                        
                        for (var i = 0, len = scInfo.emptySchedules;  i < len; i++) { %>
                        <div class="item">
                            <div class="title">
                            </div>
                            <div class="explain">
                            </div>
                        </div>
                        <%}%>                        
                        
                        
                        <% if (idx == (scLen-1)) { %>
                        <div >
                            <label class="start-msg">제주 공항 도작 및 수속(신분증 필수 지참)</label></br>
                            <label class="start-sc">제주 공항 출발</label></br>
                            <label class="arrive-sc">김포 공항 도착</label>
                        </div>
                        <%} %>
                    </td>
                    <td class="meal" style="text-align: left;">
                        <% var meals = scInfo.meals; %>
                        조 : <%=meals.breakfast.name%></br>
                        중 : <%=meals.lunch.name%></br>
                        식 : <%=meals.dinner.name%></br>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: left">
                        숙소 : <label class="hotel"><%=scInfo.accInfo.name%></label>
                    </td>
                    <td colspan="2">
                        TEL : <%=scInfo.accInfo.phone%>
                    </td>
                </tr>
                    <%})
                }%>                
			</tobdy>
		</table>
		
		<!-- 하단 -->
		<table class="print-package schedule-table table table-bordered"
		 style="width: 790px;">
			<tbody style="border-top-style: hidden;">
                <tr>
                    <td colspan="6" style="text-align: left;">
                        * <%=adminInfo.depositor%> / <%=adminInfo.bankName%> <%=adminInfo.accountNumber%>
                    </td>
                </tr>
                
                <tr>
                    <td style="background-color: red !important; color: white !important; ">
                        * 계약금
                    </td>
                    <td>
                        <%=deposit%>
                    </td>
                    <td style="background-color: red !important; color: white !important; ">
                        잔금
                    </td>
                    <td>
                        <%=balance%>
                    </td>
                    <td style="background-color: red !important; color: white !important; ">
                        납기일
                    </td>
                    <td>
                        <%=paymentDate%>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: left;"><%=adminInfo.packagePrintMsg%>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
