<table class="airline">
    <tr>
        <th rowspan="2">
            <% if(!_.isNull(name)) { %>
                <%= name %>
            <% } else { %>
                <button type="button" class="remove-airline btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
            <% } %>
        </th>
        <td><input type="text" class="air form-control" id="airline" maxlength=30 placeholder="항공사"></td>
        <th>출발</th>
        <td><input type="text" class="air form-control" id="locale1" maxlength=30 placeholder="지역"></td>
        <td><input type="text" class="air airDate form-control" id="date1"></td>
        <td><input type="text" class="time air form-control" id="time1" maxlength=30 placeholder="시간"></td>
        <th class="bold">비행<br>시간</th>
    </tr>
    <tr>
        <td><input type="text" class="air form-control" id="flight" maxlength=30 placeholder="편명"></td>
        <th>도착</th>
        <td><input type="text" class="air form-control" id="locale2" maxlength=30 placeholder="지역"></td>
        <td><input type="text" class="air airDate form-control" id="date2"></td>
        <td><input type="text" class="time air form-control" id="time2" maxlength=30 placeholder="시간"></td>
        <td><input type="text" class="air form-control" id="flighttime" value=0></td>
    </tr>
</table>