<nav class="navbar navbar-inverse">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#package-tour">패키지 여행</a></li>
                <li><a href="#print-package">프린트: 패키지</a></li>
                <li><a href="#print-package-notice">프린트: 안내문</a></li>
                <li><a href="#free-tour">자유 여행</a></li>
                <li><a href="#print-free-tour">프린트: 자유 여행</a></li>
                <li><a href="#print-free-notice">프린트: 안내문</a></li>
                <li><a href="#code-mgr">CODE 관리</a></li>
                <li><a href="#admin">관리자</a></li>
                <li><a href="#save">저장</a></li>
                <li><a href="#load">불러오기</a></li>
            </ul>
        </div>
    </div>
</nav>