<div class="panel panel-default">
    <div class="panel-heading">식사</div>
    <div class="panel-body">
        <table class="meal-table table table-bordered">
            <thead>
                <th class="day">기간</th>
                <th>조식</th>
                <th>중식</th>
                <th>석식</th>
                <th class="total">계</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="total-table table table-bordered">
            <thead>
                <th>계</th>
                
                <th><label class="total-meal-price">0</label></th>
            </thead>
        </table>
    </div>
</div>