<div id="listView" class="container">
    
    <div class="row" style="margin-bottom:10px;text-align:right">
        <div class="col-md-9 col-sm-9 col-xs-6"><input type="text" class="search info form-control" maxlength="30"></div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <button type="button" class="btn-load btn btn-primary">불러오기</button>
            <button type="button" class="btn-remove btn btn-danger">삭제</button>
        </div>
    </div>
    
    <div class="row">
        <div class="list-group" style="height: 600px; overflow-y:auto;">
        </div>
    </div>
</div>