<div class="schedule-item">
    <div class="select-box">
        <select class="select-schedule" style="width: 100%;">
            <option value="0" selected="selected">-</option>
        </select>
    </div>
    <input class="input-price form-control" type="text" disabled value="0">
    <button type="button" class="btn-add btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn-remove btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </button>
</div>