<div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body">
        <table class="accommodation-table table table-condensed">
            <tbody>
                <tr>
                    <th>
                        숙소
                    </th>
                    <td colspan="3">
                        <div class="acc-rows form-group">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>