<div id="<%=viewID%>" class="acc-row input-group">
    <span class="input-group-addon day"><%=day%> 일차</span>
    
    <div class="select-box">
        <select class="select-acc" style="width: 100%;">
            <option value="0" selected="selected">-</option>
        </select>
    </div>
    
<!--    
    <input type="text" class="input-acc-name form-control">
-->    
    
    <span class="input-group-addon">전화번호</span>
    <input type="text" class="input-acc-phone form-control" disabled>
</div>