<div class="field" style="width: 100%; float:left;">
    <div class="ui action input" style="width: 100%;">
        <input class="day" type="text" style="width: 5%;" disabled>

        <div class="breakfast" style="width: 25%;">
            <div style="float:left; width: 50%;">
                <select class="food-selector ui fluid selection dropdown"></select>
            </div>
            <input class="food-value" type="text" placeholder="가격" disabled style="float:left; width: 50%">
        </div>

        <div class="lunch"  style="width: 25%;">
            <div style="float:left; width: 50%;">
                <select class="food-selector ui fluid selection dropdown"></select>
            </div>
            <input class="food-value" type="text" placeholder="가격" disabled style="float:left; width: 50%">
        </div>

        <div class="dinner" style="width: 25%;">
            <div style="float:left; width: 50%;">
                <select class="food-selector ui fluid selection dropdown"></select>
            </div>
            <input class="food-value" type="text" placeholder="가격" disabled style="float:left; width: 50%">
        </div>

        <div style="width: 17%;">
            <button class="add ui icon button">
                <i class="cloud icon"></i>
            </button>
            <button class="remove ui icon button">
                <i class="cloud icon"></i>
            </button>
        </div>
    </div>
</div>