<div style="width: 2200px" class="sub-view">
	<div style="width: 600px; float: left;">
		<div id="baseInfoBox" >
            
            <div class="panel panel-default">
                <div class="panel-heading">기본 정보 / 항공부분</div>
                <div class="panel-body">
                    
                    <table class="table table-bordered input-group">
                        <tbody>
                            <tr>
                                <th>
                                    손님
                                </th>
                                <td colspan="2">
                                    <input id="customerName" class="data" data-type="input" type="text" maxlength=9 value="">
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    출발
                                </th>
                                <td>
                                    <input id="airline" class="data" type="text" maxlength=9 value="" placeholder="항공사">
                                </td>
                                <td>
                                    <input id="flightNumber" class="data" type="text" maxlength=9 value="" placeholder="편명">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="travelStartDate" class="data" type="text">
                                </td>
                                <td>
                                    <input id="depTime" class="data input-time" type="text" maxlength=8 value="">
                                </td>
                            </tr>

                            <tr>
                                <th rowspan="2">
                                    리턴
                                </th>
                                <td>
                                    <input id="returnAirline" class="data" type="text" maxlength=9 value="" placeholder="항공사">
                                </td>
                                <td>
                                    <input id="returnFlightNumber" class="data" type="text" maxlength=9 value="" placeholder="편명">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="travelEndDate" class="data" type="text" >
                                </td>
                                <td>
                                    <input id="returnDepTime" class="data input-time" type="text" maxlength=8 value="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table class="table table-bordered input-group">
                        <tbody>
                            <tr>
                                <th style="width: 106px;">
                                    성인 항공요금
                                </th>
                                <td style="width: 130px;">
                                    <input id="airOneAdult" class="data input-money" data-type="input" type="text" maxlength=10 value="0">
                                </td>
                                <th style="width: 50px;">
                                    인원
                                </th>
                                <td style="width: 70px;">
                                    <input id="adultMember" class="data" data-type="input" type="number" min="0" value="0">
                                </td>
                                <th>
                                    총 요금
                                </th>
                                <td class="total-air-adult-charge">0</td>
                            </tr>
                            <tr>
                                <th>
                                    아동 항공요금
                                </th>
                                <td>
                                    <input id="airOneChild" class="data input-money" data-type="input" type="text" maxlength=10 value="0">
                                </td>
                                <th>
                                    인원
                                </th>
                                <td>
                                    <input id="childMember" class="data" data-type="input"  type="number" min="0" value="0">
                                </td>
                                <th>
                                    총 요금
                                </th>
                                <td class="total-air-child-charge">0</td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
		</div>
		
		<div id="accommodationInfoBox" >
		</div>
	</div>
	
	<div style="float: left;">
		
		<div id="rentCarInfoBox" >
            <div class="panel panel-default">
                <div class="panel-heading">렌터카</div>
                <div class="panel-body">
                    
                    <table class="table table-bordered input-group">
                        <tbody>
                            <tr>
                                <th style="width:80px;">이름</th>
                                <td style="width: 145px">
                                    <input id="rentCarName" class="data" data-type="input" type="text" maxlength=9 value="">
                                </td>
                                <th style="width:80px;">번호</th>
                                <td style="width: 145px">
                                    <input id="rentCarPhone" class="data" data-type="input" type="text" value="">
                                </td>
                            </tr>
                            <tr>
                               <th>위치</th>
                               <td colspan="3">
                                   <input id="rentCarLocation" class="data" data-type="input" type="text" value="">
                               </td>
                            </tr>
                            <tr>
                                <th>차종</th>
                                <td>
                                    <input id="rentCarType" class="data" data-type="input" type="text" value="">
                                </td>
                                <th>차량 요금</th>
                                <td>
                                    <input id="rentCarCharge" class="data input-money" data-type="input" type="text" maxlength=10 value="0">
                                </td>
                            </tr>
                            <tr>
                                <th>사용시간</th>
                                <td>
                                    <input id="rentCarUsingTime" class="data" data-type="input" type="text" value="">
                                </td>
                                <th>자차보험</th>
                                <td>
                                    <input id="rentCarInsu" class="data input-money" data-type="input" type="text" maxlength=10 value="0">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>

		<div id="busInfoBox" >
            <div class="panel panel-default">
                <div class="panel-heading">차량대절</div>
                <div class="panel-body">
                    
                    <table class="table table-bordered input-group">
                        <tbody>
                            <tr>
                                <th>인승</th>
                                <td>
                                    <input id="busMember" class="data" data-type="input" type="number" min="0" value="0">
                                </td>
                            </tr>
                            <tr>
                                <th>요금</th>
                                <td>
                                    <input id="busRentCharge"  class="data input-money" data-type="input" type="text" maxlength=9 value="0">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>



	</div>
	<div style="float: left;">
		<div id="expenseInfoBox" >
            <div class="panel panel-default">
                <div class="panel-heading">총 요금 정보</div>
                <div class="panel-body">
                    
                    <table class="table table-bordered input-group">
                        <tbody>
                            <tr>
                                <th>항공권</th>
                                <td class="total-air-charge">0</td>
                            </tr>
                            <tr>
                                <th>숙소</th>
                                <td>
                                    <input id="totalRoomCharge" class="data input-money" data-type="input" type="text" maxlength=10 value="0">
                                </td>
                            </tr>
                            <tr>
                                <th>렌터카</th>
                                <td class="total-rent-car-charge">0</td>
                            </tr>
                            <tr>
                                <th>차량 대절</th>
                                <td class="toal-bus-rent-charge">0</td>
                            </tr>
                            <tr>
                                <th>총 경비</th>
                                <td> <label class="total-charge">0</label></br>( <label class="total-charge-card" style="display: none;">0</label>: 카드결제)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>
</div>